* {
    margin: 0;
    padding: 0;
}
input, label {
    display: block;
    font-size: 30px;
}
input {
    margin: 0 0 15px 0;
    border: 2px solid rgb(0, 105, 0);
}
input[type=submit] {
    background: #0f0;
    margin: 50px 0 0 0;
    padding: 3px 10px;
    border-radius: 10px;
}

form {
    background: #c1ffa6;
    padding: 50px;
    border-radius: 20px;
}

div.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./Images/jungle-background.jpg);
    background-size: cover;
}

/* div.formContainer::after{
    filter: blur(100px);
} */

.image{
    width: 200px;
    height: 200px;
    background-size: cover;
}

.turtle{
    background-image: url(./Images/turtle.jpg);
}

.monkey{
    background-image: url(./Images/monkey.jpg);

}

.tucan{
    background-image: url(./Images/tucan.jpg);
}