* {
    margin: 0;
    padding: 0;
}
input, label {
    display: block;
    font-size: 30px;
}
input {
    margin: 0 0 15px 0;
    padding: 10px;
    border: 2px solid rgb(0, 105, 0);
}
input[type=submit] {
    background: #0f0;
    margin: 50px 0 0 0;
    padding: 3px 10px;
    border-radius: 10px;
}

form {
    background: #c1ffa6;
    padding: 50px;
    border-radius: 20px;
}

div.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./Images/jungle-background.jpg);
    background-size: cover;
}

/* div.formContainer::after{
    filter: blur(100px);
} */

.image{
    width: 200px;
    height: 200px;
    background-size: cover;
}

.turtle{
    background-image: url(./Images/turtle.jpg);
    position: absolute;
    top: 350px;
    left: 150px;
    animation: rock 3s infinite;
}

@keyframes rock {
    0%,
    50%,
    100%{
        transform: rotateY(0)
    }
    25%{
        transform: rotateY(50deg)
    }
    75%{
        transform: rotateY(-50deg);
    }
}

.monkey{
    background-image: url(./Images/monkey.jpg);
    position: absolute;
    top: 20px;
    right: 300px;
    animation: swing 6s ease-in-out infinite;
}

@keyframes swing {
    0%, 100% {
        transform: translateX(0);
    }
    
    50%{
        transform: translateX(-1200px)
    }
}

.tucan{
    background-image: url(./Images/tucan.jpg);
}